mixin adminMenuItems(mobile)
  if mobile
    each item in adminMenu
      li
        a(href=item.path, title=item.label) #{item.label}

  if currentUser
    li
      a(href="/user/logout", title="Logout")
        if mobile
          span Logout
        else
          i.fa.fa-sign-out


doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")

    // styles
    link(rel="stylesheet", href=staticUrl('waigo-plugin-admin:/css/admin-vendor.css'))
    link(rel="stylesheet", href=staticUrl('waigo-plugin-admin:/css/admin.css'))

    title Admin dashboard

  body
    header
      .navbar-fixed
        nav
          .nav-wrapper
            a.brand-logo(href="/") Admin
            a.button-collapse.side-nav-button(href="#", data-activates="mobile-menu")
              i.mdi-navigation-menu
            ul.right.hide-on-med-and-down
              +adminMenuItems()
            ul#mobile-menu.side-nav
              +adminMenuItems(true)

    main#admin_container
      .row
        #admin_menu.col.s2
          .collection.hide-on-med-and-down
            each item in adminMenu
              - var className = 'collection-item ' + (matchesCurrentUrl(item.path) ? 'active': '');
              a(class=className, href=item.path) #{item.label}
        #admin_content.col.s10
          block main_content


    script(type="text/javascript" src=staticUrl('waigo-plugin-admin:/js/admin-vendor.js'))
    script(type="text/javascript" src=staticUrl('waigo-plugin-admin:/js/admin.js'))

